<div class="container">
    <div class="container-fluid">
        <div class="row match-height">
            <% @shops.each do |shop| %>
                <div class="col-xl-4 col-md-6 col-sm-12 card-content">
                    <% if current_user.id=shop.user_id %>
                        <%= link_to image_tag(shop.logo.to_s,:align=>"middle", width: '350px',height: '350px'), shop_products_path(shop) %>
                    <% else %>
                        <%= link_to image_tag(shop.logo.to_s,:align=>"middle", width: '350px',height: '350px'), shop_products_path(shop) %>
                    <% end %>
                    <div class="card-body">
                        <p classs="card-title"><%= shop.name %></p>
                        <p class="card-text"><%= shop.description %></p>
                    </div> 
                </div>
                
            <% end %>
        </div>
    </div>
</div>